*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body#bg-dark{
  background:#202020;
  overflow-x: hidden;
}


nav.navbar{
  width:auto;
  padding:5px;
  margin-bottom:60px;
}

.navbar:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #f8acff 0%, #696eff 100% );
    transform: translate3d(2px, 5px, 2px) scale(1);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.navbar::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #181818;
    border-radius: inherit;
    color:#FFF;
}
  

nav.navbar a.nav-link{
  color:#FFF;
  font-size:18px;
  margin:5px;
  cursor:pointer;
  font-weight:100;
  z-index:1;
}


.navbar-light .navbar-toggler {
  border-color:transparent;
  background:transparent;
}



div.navbar-nav a.nav-link{
  margin:0px 5px;
  padding:5px; 
   z-index:1;
}


nav.navbar a.nav-link:focus,nav.navbar a.nav-link:hover{
  color:#FFF; 
  font-weight:600;
  font-size:20px;
  letter-spacing:2px;
  transition:.1s ease-in-out;
  z-index:1;
}


p{
  font-weight: 100;
  color:#FFF;
  font-size:17px;
  z-index:1;
}

h1,h2,h3,h4,h5,h6{
  color:#FFF;
  font-weight: 600; 
}

 a{
  text-decoration: none;
  font-weight: bold;
  color:#aaadff;
}

 a:hover{
  text-decoration: none;
  color:#696eff;
}

a.link-button{
  color:#FFF;
  text-decoration:none;
  border-radius:10px;
  padding:0.8rem 1.2rem;
  background:#712CF9;
  display:block;
  margin:10px 0;
  font-weight:100;
}

a.link-button:hover{
   font-weight:bold;
   transition:.1s ease-in-out;
   color:#FFF;
   letter-spacing:1px;
}

img.cropped{
  position:relative;
  width:600px;
  height:450px;
  border-radius:10px;
  display:block;
}

canvas{
  width:100%;
  height:100%;
  display:block;
}

i.bi-list{
  font-size:32px;
}

div.flex-wrapper{
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #f8acff 0%, #696eff 100% );
    transform: translate3d(2px, 5px, 2px) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.card::after {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #181818;
    border-radius: inherit;
}
  
div.card{
  display: flex;
  flex-direction: column;
  align-items:baseline;
  justify-content: space-between;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  background:#181818;
  padding:15px;
  margin:15px;
}


div.card > span{
  padding:20px;
  font-size:20px;
  font-weight: bold;
  color:#FFF;
  margin:0 auto;
  letter-spacing: 1px;
  z-index:1;
}

div.card > a{
  color:#FFF;
  background:#712CF9;
  padding:1rem 1.5rem;
  border-radius:10px;
  font-weight:bold;
  text-decoration: none;
  z-index:1;
}

footer.footer{
  background:#181818;
  margin-top:40px;
  padding:10px;
  width:100%;
  text-align:center;
  color:#FFF;
  padding:1rem;
}

footer.footer > span{
  font-size:18px;
}

footer.footer > svg{
  vertical-align:middle;
}

@media screen and (max-width:576px){
  img.cropped{
    position:relative;
    max-width:100%;
    max-height:250px;
  }
  canvas{
    width:100%;
    min-height:300px;
    position:relative;
  }
  div.flex-wrapper{
    width:100%;
    flex-direction:column;
    align-items:baseline;
    justify-content:baseline;
    padding:10px;
    height:auto;
  }
  div.card{
    position:relative;
    width:calc(80%);
    height: 350px;
    margin:20px auto;
  }
}
